*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background: url(../Images/leaf-bg.svg);
}
.logo-box img{
  height: 80px;
}
.mainimage img{
  width: 100%;
}
.mainnav {
  padding: 20px 0;
  background:rgb(18, 154, 108);
  box-shadow: 0 4px 6px rgba(0,0,0,.2);  
}
.con {
  padding: 0 20px;
  max-width: 100%;
  margin: 0 auto;
}
.logo-box {
  float: left;
  margin-right: 20px;
}
.logo-box a {
  outline: none;
  display: block;
}
.logo-box img {
  display: block;
}
nav {
  overflow: hidden;
}
.mainnav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
nav li {
  display: inline-block;
  margin-left: 25px;
  height: 70px;
  line-height: 70px;
  transition: .5s linear;
}
nav a {
  text-decoration: none;
  display: block;
  position: relative;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
nav a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 15px;
  background: #040303;
  transition: width .3s linear;  
}
nav a:hover:after{
  width: 100%;
}
.col {
-ms-flex: 50%; /* IE10 */
flex: 50%;
padding: 10px 16px;
}
.donationamount{
padding-left: 17px;
}
.donationamount p{
display: inline-flex;
padding-right: 30px;
}
.donationpaymentcontainer {
background-color: #f2f2f2;
padding: 5px 40px 15px 20px;
border: 1px solid lightgrey;
border-radius: 3px;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin: 5% 0 5% 25%;
width: 50%;
}
input[type=text] {
width: 100%;
margin-bottom: 20px;
margin-top: 5px;
padding: 12px;
border: 1px solid #ccc;
border-radius: 3px;
}
input[type=number] {
width: 100%;
margin-bottom: 20px;
margin-top: 5px;
padding: 12px;
border: 1px solid #ccc;
border-radius: 3px;
}

.donatebtn {
background-color: #04AA6D;
color: white;
padding: 12px;
margin: 10px 0;
border: none;
width: 100%;
border-radius: 3px;
cursor: pointer;
font-size: 17px;
}
.btn:hover {
background-color: #45a049;
}